<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanyuu.springbootlearn.mapper.StuMapper">
    <!--namespace:名称空间
    id:唯一标识
    resultType:返回值类型
    #{id}:从传递过来的参数中取出ID值
    -->
    <select id="getStu" resultType="com.hanyuu.springbootlearn.entity.Student">
        select *  from student
        <where>
            <if test="id!=null">
                student.id = #{id}
            </if>

            <if test="name!=null">
                and name =#{name}
            </if>
        </where>
    </select>
</mapper>